<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather|status</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Check Current Weather Now!</h1>
    <div>
    <form action="/" method="post">
        <input type="text" name="cityName" placeholder="Enter City Name: *" autocomplete="off" required><br>
        <input type="text" name="stateName" placeholder="Enter State Code: *" autocomplete="off" required><br>
        <input type="text" name="Country" placeholder="Enter Country Code: *" autocomplete="off" required><br>
        <button type="submit" name="submit">Check</button>
    </form>
    </div>
    <div class="footer">
        <a href="https://github.com/chetanchey" target="_blank"><h3>About</h3><a>
        <a href="mailto:atthulurichetan@gmail.com"><h3>Contact</h3></a>
        <p>Designed by Chetan.All &#169; copyrights are reserved.</p>
    </div>
</body>
</html>
